*{
    font-family: 'Arial', sans-serif;
    
}
.mainpage-text {
    margin-top: 150px;
    font-size: 24px;
    color: #333333;
    line-height: 0.5;
    font-weight: bold;
}
.mainpage-container {
    margin-left: 500px;
}
.buttons{
    margin-top: 100px;
    text-align: center;
}
.discountBtn{
    height: 50px;
    width: 150px;
    margin-right: 20px;
    background-color: white;
    border-radius: 17px;
    color: #E9EBF5;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: #3D4474;
    box-shadow: 0px 0px 10px #3D4474;
}
.discountBtn:hover{
    border: 1px solid #9EB5CB;
}
.top10Btn{
    height: 50px;
    width: 150px;
    margin-right: 20px;
    background-color: white;
    border-radius: 17px;
    color: #E9EBF5;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: #3D4474;
    box-shadow: 0px 0px 10px #3D4474;
}
.top10Btn:hover{
    border: 1px solid #9EB5CB;
}
.ordersBtn{
    height: 50px;
    width: 150px;
    margin-right: 20px;
    background-color: white;
    border-radius: 17px;
    color: #E9EBF5;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: #3D4474;
    box-shadow: 0px 0px 10px #3D4474;
}
.ordersBtn:hover{
    border: 1px solid #9EB5CB;
}
.newsBtn{
    height: 50px;
    width: 150px;
    background-color: white;
    border-radius: 17px;
    color: #E9EBF5;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: #3D4474;
    box-shadow: 0px 0px 10px #3D4474;
}
.newsBtn:hover{
    border: 1px solid #9EB5CB;
}
hr{
    margin-top: 50px;
    width: 1300px;
    align-items: center;
    color: lightgrey;
}
/* .ytBtn{
    height: 40px;
    float: left;
    margin-top: 30px;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #333333;
    font-size: 17px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px #333333;
}
.ytBtn:hover{
    border: 1px solid #FF6666;
    width: 90px;
    animation: 10s ease-in-out;
    box-shadow: 0px 0px 10px #FF0000;
} */