<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <button class="ytBtn">YouTube</button> -->
    <div class="mainpage-container">
        
        <div class="mainpage-text">
            <span>Üdv a <p style="color: #3D4474">CoreTech-nél!</p></span>
        </div>
        <span>
            Friss technológia, verhetetlen <br>
            ajánlatok, egy helyen - csak <br>
            neked.
        </span>
    </div>
    <div class="buttons">
        <button class="discountBtn">Akció</button>
        <button class="top10Btn">Top 10</button>
        <button class="ordersBtn">Rendeléseim</button>
        <button class="newsBtn">Újdonságok</button>
    </div>
    <hr>
</body>
</html>