*{
    font-family: 'Arial', sans-serif;
}
.logo {
    height: 60px;
    width: 60px;
}
.navbar {
    background-color: #3D4474;
    margin-right: -8px;
    margin-left: -8px;
    margin-top: -8px;
}
.header-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}
.loginBtn {
    margin-left: auto;
    height: 35px;
    width: 120px;
    background-color: transparent;
    color: #E9EBF5;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.loginBtn:hover {
    text-decoration: underline;
}
.core{
    color: #E9EBF5;
    font-size: 24px;
    margin-top: 25px;
    font-weight: bold;
}
.searchContainer {
    margin-left: 20px;
}
.searchbar {
    border-radius: 25px;
    background-color: #6B88AA;
    padding: 5px;
    width: 400px;
}
.searchInput {
    font-size: 15px;
    width: 345px;
    height: 30px;
    background-color: #E9EBF5;
    color: #000000;
    border: none;
    border-radius: 20px;
    padding-left: 10px;
    cursor: text;
}
.searchIcon {
    width: 30px;
    height: 30px;
}
.searchBtn{
    border: none;
    cursor: pointer;
    float: right;
    background-color: transparent;
}
.menuContainer {
    text-align: center;
}
.menuBtn{
    background: #212645;
    width: 100px;
    height: 42px;
    border: none;
    cursor: pointer;
    margin-left: 300px;
    color: #E9EBF5;
    border-radius: 20px;
}
