<footer class="footer">
  <div class="footer-top">
    
    <div class="footer-logo">
      <img src="assets/CoreTechLogo.png" alt="CoreTech logo">
      <div class="socials">
        <a href="#"><i class="fa-brands fa-youtube" style="color: #E9EBF5;"></i></a>
        <a href="#"><i class="fa-brands fa-square-facebook" style="color: #e9ebf5;"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter" style="color: #e9ebf5;"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin-in" style="color: #E9EBF5;"></i></a>
      </div>
    </div>

    <div class="footer-section">
      <h3>Profil</h3>
      <a routerLink="/profile">Fiók</a>
      <a routerLink="/registration">Regisztráció</a>
    </div>

    <div class="footer-section">
      <h3>Vásárlás</h3>
      <a href="#">Termékek</a>
      <a href="#">Újdonságok</a>
      <a routerLink="/top50">TOP 50</a>
      <a routerLink="/discounts">Akció</a>
    </div>

    <div class="footer-section">
      <h3>Rólunk</h3>
      <a routerLink="/aboutuspage">Rólunk</a>
    </div>

    <div class="footer-section">
      <h3>Kapcsolatok</h3>
      <p>coretech112@gmail.com</p>
      <p>+36 70 361 7490</p>
      <p>24/7 Live support</p>
    </div>

  </div>

  <div class="footer-bottom">
    <h1>CORETECH</h1>
  </div>
</footer>

