<div class="backdrop">
    <div class="logoContainer"><header><img src="assets/CoreTechLogo.png" alt="logo" class="logo"><p class="logoText">CoreTech</p></header></div>
    <div class="control-row" [formGroup]="form">
        <h1>Regisztráció</h1>
        <div class="control-no-margin">

            <label for="email">E-mail cím: *</label><br>
            <input type="email" id="email" formControlName="email">
        </div>
        

        <div class="control-no-margin">
            <label for="username">Felhasználónév: *</label><br>
            <input type="text" id="username" formControlName="username">
        </div>
        
        <div class="control-no-margin">
            <label for="phone">Telefonszám: *</label><br>
            <input type="phone" id="phone" formControlName="phone">
        </div>

        <div class="control-no-margin">
            <label for="password">Jelszó: *</label><br>
            <input type="password" id="password" formControlName="password">
        </div>
        

        <div class="control-no-margin">
            <label for="confirmPassword">Jelszó megerősítése: *</label><br>
            <input type="password" id="confirmPassword" formControlName="confirmPassword">
        </div>
        

        <div class="optional">
            <label>
                <input type="checkbox" class="checkbox"> <span>(Opcionális) Szeretnék személyre szabott ajánlatokat kapni a CoreTech-től!</span>
            </label>
        </div>
        <div class="optional">
            <label>
                <input type="checkbox" class="checkbox"> <span>Megértettem, és beleegyezek a CoreTech <a href="#" class="link">Általános felhasználói feltételeibe</a> és az <a href="#" class="link">Adatvédelmi szabályzatba</a>!</span>
            </label>
        </div>
        <div class="container">
            <button class="button" type="submit" (click)="onSubmit()">Regisztráció</button>
        </div>
        <div class="optional-login">
            <span>Vissza a <a routerLink="/login" class="backToLogin">Bejelentkezéshez</a></span>
        </div>
        <div class="control-error">
            <p class="control-error1" *ngIf="emailIsInvalid">Kérlek, érvényes e-mail címet adj meg.</p>
            <p class="control-error2" *ngIf="usernameIsInvalid">Kérlek, adj meg egy felhasználónevet.</p>
            <p class="control-error3" *ngIf="phoneNumberIsInvalid">Kérlek, adj meg egy érvényes telefonszámot!</p>
            <p class="control-error4" *ngIf="passwordIsInvalid">Kérlek, érvényes jelszót adj meg (legalább 8 karakter).</p>
            <p class="control-error5" *ngIf="confirmPasswordIsInvalid">A jelszavak nem egyeznek!</p>
        </div>
    </div>
</div>