<app-header></app-header>

<h1>Regisztráció</h1>
<div class="registrationForm">
    
    <input type="text" id="username" placeholder="Felhasználónév"> 
    <input type="email" id="email" placeholder="Email cím">
    <input type="password" id="password" placeholder="Jelszó">
    <input type="password" id="confirmPassword" placeholder="Jelszó megerősítése">
    <button type="button" class="button">Regisztráció</button>
</div>

<div class="text-container">
    Üdvözlünk a CoreTech közösségében!
Nálunk a legújabb technológiai újdonságokat, megbízható eszközöket és praktikus kiegészítőket találod egy helyen.
Regisztrálj, hogy gyorsabban vásárolhass, nyomon követhesd rendeléseidet, és elsőként értesülj a legjobb ajánlatainkról.
Lépj be a CoreTech világába – ahol a technológia érted dolgozik!
</div>



