<app-header></app-header>

<h1>Rólunk - <b>CoreTech</b></h1>
<hr />
<div class="aboutus-header">

    <p class="aboutus-text">
        Üdvözlünk a <b>CoreTech</b>-nél! Mi vagyunk a megbízható partnereid, ha számítástechnikai
    alkatrészekre és perifériákra van szükséged. Webshopunkat úgy alakítottuk ki, hogy a legjobb
    minőségű, korszerű termékekkel támogathassuk a technológia iránti szenvedélyedet. Legyen szó
    processzorok, alaplapok, videokártyák, vagy akár monitorok, billentyűzetek és egerek
    vásárlásáról – nálunk mindent megtalálsz, amire a modern számítástechnika világában szükséged
    lehet.</p>

    <p class="aboutus-text">
        Célunk, hogy ügyfeleink számára a legjobb ár-érték arányú termékeket kínáljuk, gyors és
    kényelmes vásárlási élményt biztosítva. Minden egyes alkatrészünket gondosan válogatjuk, hogy a
    legújabb technológiai trendeknek megfelelő, megbízható és tartós termékek kerüljenek
    kínálatunkba.
    </p>

    <p class="aboutus-text">
        A <b>CoreTech</b> csapata nem csupán egy webshop – mi igazi technológiai rajongók
    vagyunk, akik szívesen segítenek minden felmerülő kérdésedben. Legyen szó otthoni számítógép
    összeállításról vagy professzionális IT megoldásról, mi itt vagyunk, hogy támogassunk.
    </p>

    <p class="aboutus-text">
        Böngéssz a kínálatunkban, és találd meg az ideális alkatrészt vagy perifériát, ami segíthet a
    technológiai céljaid elérésében!
    </p>
</div>
<h1>Csapatunk</h1>
<div class="aboutus-team">
    <div class="team-member">
        <img src="assets/Kamilla.png" class="image-kamilla">
        <h3>Várhegyi Kamilla</h3>
        
    </div>
    <div class="team-member">
        <img src="assets/Mark.png" class="image">
        <h3>Bajor Márk</h3>
        
    </div>
    <div class="team-member">
        <img src="assets/Viktor.png" class="image">
        <h3>Horváth Viktor Ádám</h3>
        
    </div>
</div>

<h1>Feladatköreink</h1>
<p class="aboutus-text">Ismerd meg a csapatot, akik a weboldal minden apró részletét életre keltik! Három különböző terület, egy közös cél: gördülékeny, szép és okos megoldásokat nyújtani minden látogatónknak.</p>
<div class="labels-container">
    <div class="team-label">
         <p style="color: #3D4474;"><b>Kamilla – A háttér varázslója (Backend fejlesztés)</b></p><br><br>
         <p>Kamilla gondoskodik arról, hogy minden a motorháztető alatt hibátlanul működjön. Ő építi fel a logikát, az adatkezelést és azokat a rendszereket, amik a weboldal lelke.</p>
    </div>
    <div class="team-label2">
        <p style="color: #3D4474;"><b>Márk – A felhasználói élmény mestere (Frontend fejlesztés)</b></p><br><br>
        <p>Márk keze alatt kel életre az oldal! Ő felel a letisztult megjelenésért, a felhasználóbarát élményért és mindenért, amit a látogatók elsőként észrevesznek.</p>
    </div>
    <div class="team-label">
        <p style="color: #3D4474;"><b>Viktor – Az adatok varázslója (Adatbázis fejlesztés)</b></p><br><br>
        <p>Viktor biztosítja, hogy minden adat a helyén legyen. Ő kezeli a háttérben futó adatbázist, gondoskodik a biztonságról és a gyors elérésről, hogy minden zökkenőmentesen működjön.</p>
    </div>
    
</div>


<app-footer></app-footer>