*{
    font-family: 'Arial', sans-serif;
}
.backdrop {
  background-color: #3D4474;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.control-row {
    border-radius: 10px;
    margin: auto;
    width: 800px;
    height: 435px;
    margin-top: 200px;
    background-color: #E9EBF5;
    padding-top: 20px;
    padding-left: 40px;
    position: relative;
    box-shadow: 0px 0px 70px #6B88AA;
}

h1 {
    color: #3D4474;
    font-size: 32px;
    margin-bottom: 30px;
    
}

#email {
    position: relative;
    width: 380px;
    height: 35px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid white;
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: #dfe1ec;
    margin-top: 5px;
}

#email:focus, #password:focus {
    outline: none;
    border-color: #3D4474;

    box-shadow: 0 0 5px rgba(61, 68, 116, 0.5);
}

.logoSmall{
    width: 170px;
    height: 170px;
    position: absolute;
    right: 120px;
    top: 20px;
}

.welcomeText{
    position: absolute;
    right: 95px;
    top: calc(20px + 170px + 12px);
    width: 200px;
    text-align: center;
    color: #333333;
    font-size: 23px;
    font-weight: 600;
    line-height: 1.2;
}

#password {
    position: relative;
    width: 380px;
    height: 35px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid white;
    padding-left: 10px;
    background-color: #dfe1ec;
    margin-top: 5px;
}

.container {
    margin-left: 4px;
    width: 300px;
    
}

.button {
    position:relative;
    width: 385px;
    height: 35px;
    background-color: #3D4474;
    color: #E9EBF5;
    font-size: 18px;
    border-radius: 12px;
    margin-top: 40px;
    border: 2px solid #3D4474;
    cursor: pointer;
    margin-bottom: 10px;
}
.registration{
    font-size: 13px;
    text-decoration: none;
    color: #3D4474;
    cursor: pointer;
}
.registration:hover {
    text-decoration: underline;
}

button:hover {
    background-color: transparent;
    color: #3D4474;
    transition: 0.3s;
}
.notRegistered{
    font-size: 13px;
    color: #333333;
    margin-right: 5px;
}
.backToMain{
    font-size: 13px;
    color: #333333;
    margin-right: 5px;
}

.control-error {
    color: #6B88AA;
    font-size: 18px;
}

.remember-me {
    margin-top: 10px;
    font-size: 18px;
    
}
.closeBtn {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 25px;
    right: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.closeBtn:hover {
    background-color: transparent;
}

.closeIcon {
    width: 25px;
    height: 25px;
    background-color: transparent;
}
.remember-me label { 
    display:inline-flex; 
    align-items:center; 
    gap: 3px; 
    cursor:pointer; 
}
.checkbox{
    -webkit-appearance:none;
    appearance:none;
    width:13px; 
    height:13px;
    border-radius:4px;
    border:1px solid #3D4474;
    background:#fff;
    cursor:pointer;
    display:inline-block;
    vertical-align:middle;
    position:relative;
}
.checkbox:focus{
    outline:none;
    box-shadow:0 0 0 1px rgba(61,68,116,0.12);
}
.checkbox:hover{ 
    border-color:#2f355e; 
}
.checkbox:checked{
    background-color: #3D4474;
    border-color: transparent;
    transition: 0.3s;
    background-repeat:no-repeat;
    background-position:center;
    background-size: 10px 10px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'><path d='M20 6L9 17l-5-5'/></svg>");
}

.remember-me span{
    font-size: 12px;
    color:#333333;
    margin-right: 140px;
}
a{
    font-size: 13px;
    text-decoration: none;
    color: #3D4474;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}

.logo {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    left: 30px;
}

p {
    position: absolute;
    top: 3px;
    margin-left: 80px;
    margin-top: 24px;
    font-size: 24px;
    color: #E9EBF5;
    font-weight: 700;
}
.logoContainer {
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Password Input with Toggle Button */
.password-input-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 390px;
}

.password-input {
    padding-right: 45px !important;
    width: 100% !important;
}

.toggle-password-btn {
    position: absolute;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-top: 9px;
    
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    border-radius: 4px;
}

.toggle-password-btn:hover {
    background: rgba(61, 68, 116, 0.1);
}

.toggle-password-btn svg {
    fill: #3D4474;
    transition: fill 0.2s;
}

.toggle-password-btn:hover svg {
    fill: #2f355e;
}