<div class="backdrop">
    <div class="logoContainer"><header><img src="assets/CoreTechLogo.png" alt="logo" class="logo"><p>CoreTech</p></header></div>
    <div class="control-row">
        <img src="assets/CoreTechLogoKek.png" alt="logo" class="logoSmall">
        <span class="welcomeText">Üdv újra!<br><br>
            Örülünk, hogy visszatértél!
        </span>
        <h1>Bejelentkezés</h1>
        <div class="control-no-margin">
            
            <label for="email">E-mail cím: *</label><br>
            <input type="email" id="email" [formControl]="form.controls.email">
        </div>
        <div class="control-no-margin">
            <label for="password">Jelszó: *</label><br>
            <input type="password" id="password" formControlName="password">
        
        </div>
        <div class="remember-me">
            <label>
                <input type="checkbox" class="checkbox"> <span>Emlékezz rám!</span>
            </label>
            <a href="#" class="forgotPass">Elfelejtettem a jelszavam!</a>
        </div>
        <div class="container">
            <button class="button" (click)="onSubmit()">Bejelentkezés</button>
            <span class="notRegistered">Nincs még felhasználói fiókod?</span><a routerLink="/registration" class="registration">Regisztráció</a><br>
            <span class="backToMain">Vissza a <a routerLink="/mainpage">Főoldalra</a>!</span>
        </div>
    </div>
</div>
