<div class="backdrop" >
  <div class="menu-dialog">
    <nav class="categories">
      <button (click)="closeShopMenu()" class="closeMenu"><img src="assets/favicon-32x32.png" class="closeIcon"></button>
      <div class="category">
        <button class="cat-btn">Számítógép alkatrész</button>
        <div class="submenu">
          <a class="item">Videókártya</a>
          <a class="item">Processzor</a>
          <a class="item">Memória (RAM)</a>
          <a class="item">Alaplap</a>
          <a class="item">SSD</a>
          <a class="item">HDD</a>
          <a class="item">Hűtés</a>
          <a class="item">Tápegység</a>
          <a class="item">Gépház</a>
        </div>
      </div>

      <div class="category">
        <button class="cat-btn">Számítógép perifériák</button>
        <div class="submenu">
            <a class="item">Egér</a>
            <a class="item">Billentyűzet</a>
            <a class="item">Egérpad</a>
            <a class="item">Monitor</a>
            <a class="item">Mikrofon</a>
            <a class="item">Fejhallgató</a>
        </div>
      </div>
    </nav>
  </div>
</div>

