*{
    font-family: 'Arial', sans-serif;
}

.logo {
    height: 60px;
    width: 60px;
}
.navbar {
    background-color: #3D4474;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}
.loginBtn {
    margin-left: auto;
    height: 35px;
    width: 120px;
    background-color: #3D4474;
    color: #E9EBF5;
    font-size: 16px;
    border: none;
}
.core{
    color: #E9EBF5;
    font-size: 24px;
    margin-top: 25px;
    font-weight: bold;
}
.searchbar {
    border: 2px solid #6B88AA;
    margin-left: 20px;
    border-radius: 25px;
    background-color: #6B88AA;
    padding: 5px;
    width: 200px;
}
.searchInput {
    font-size: 10px;
    width: 150px;
    height: 30px;
    background-color: #E9EBF5;
    color: #bebebe;
    border: none;
    border-radius: 20px;
    padding-left: 10px;
}